div#gfsInformationDiv {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 300px;
  transition: 0.25s;
  z-index: 1;
}
div#gfsInformationDiv:hover {
  background: blue;
  color: white;
  height: 400px;
  transition: 0.25s;
}
